apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ocvd
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ocvd
    app.kubernetes.io/part-of: byoc-app-zkzx
  name: ocvd
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: ocvd
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: ocvd
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-nzpb-tenant/byoc-app-zkzx/ocvd@sha256:6791d2018ed04fc974046b201de362526426eb986bc5ceecf47d062ec67e66b4
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
