apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ocvd
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-nzpb-tenant/byoc-app-zkzx/ocvd@sha256:6791d2018ed04fc974046b201de362526426eb986bc5ceecf47d062ec67e66b4
        name: my-java-quarkus
        resources: {}
status: {}
